.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2.25rem 5%;
  background-color: var(--primary-white);
}
.logout_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  gap: 0.65rem;
  background-color: transparent;
  border: none;
}
.logout_btn img {
  width: 1.45rem;
  height: auto;
}
