.singleView {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.singleView_body {
  width: 100%;
  padding: 3rem 8%;
  background-color: var(--background-gray);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.first_section {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.second_section {
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.top_containers {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.image_container {
  width: 50%;
  height: 35rem;
  background-color: var(--primary-white);
  border-radius: 20px;
  overflow: hidden;
}
.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details_container {
  width: 50%;
  background-color: var(--primary-white);
  border-radius: 20px;
}
