* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --secondary-black: #090909;
  --dark-pink: #D91375;
  --light-pink: #f3bbd6;
  --light-gray:#B2B2B2;
  --background-gray:#F6F6F6;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-white);
}
