* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --secondary-black: #292828;
  --dark-pink: #d91375;
  --light-pink: #f3bbd6;
  --dark-gray: #5e6870;
  --light-gray: #a9a7a7;
  --background-gray: #f6f6f6;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-white);
}
