.profileCard {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.65rem 1.5rem 0.65rem;
  background-color: var(--primary-white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile_image {
  width: 100%;
  min-height: 18rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 20px;
}
.name_text {
  margin-top: 0.25rem;
  color: var(--primary-black);
  font-size: 1.35rem;
  font-weight: 600;
}
.code_text {
  color: var(--dark-gray);
  font-size: 1.25rem;
  font-weight: 600;
}
.view_profile {
  margin-top: 0.25rem;
  color: var(--light-gray);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  user-select: none;
}
.nav_items_container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.nav_item {
  width: 100%;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.125rem;
  border-radius: 12px;
  color: var(--light-gray);
  padding: 0.875rem;
}
.active {
  background-color: var(--light-pink);
  color: var(--primary-black);
}
